@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


#heading {
    color: #000;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-items: center;
    text-align: center;

}
#sectionOne{
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: rgb(129, 54, 0);
    margin: 20px ;
}
#sectionOne #sectionOne-image img{
    width: 568px;
    align-self: stretch;
    
}
#sectionOne-info{
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}