@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


#heading {
    color: #000;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-items: center;
    text-align: center;

}

#sectionOne {
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    margin: 20px;
}

#sectionOne #sectionOne-image img {
    width: 568px;
    align-self: stretch;

}

#sectionOne-info {
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

#heading2 {
    color: #000;
    align-items: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

#info #text {
    color: #414651;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#list {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #155EEF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #CEA201;
}

#button p {
    color: #CEA201;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
    
}